@charset "UTF-8";

.food{
	display:flex;
}

.Mainfood{
	text-align: center;
}

.fn{
	font-weight: bold;
	font-size:20px;
	margin-top:50px;
}
.i{
	margin-top:50px;
	margin-left:70px;
}
.p{
	font-weight: bold;
}
.f_img{
	border: solid 1px #777777;
	background-color:#fff;
}
