@charset "UTF-8";

.nav li {

	list-style-type: none;
}
.lfdf input[type=text]{
	width:200px;
	height:50px;
}
.lfdf{
	display:flex;
	margin-top:20px;
}

ul{
	margin:50px;
}

.df{
	margin-left:30px;
}

.reg_btn{
	margin-top:40px;
	margin-right:90px;
	text-align: right;
}