@charset "UTF-8";

.RecipeList{
	text-align: center;
}
.custom{
	display: flex;
}
.text{
	font-size: 20px;
	margin-left:30px;
	margin-right:0px;
}
.c_image{
	background-position: right 15px;
	display: flex;
	margin-right:0px;
	margin-left:30px;
}
